/* App.css */

.App {
  text-align: center;
}

.App-content {
  padding: 20px;
}

.homepage-title {
  font-size: 2em;
}

.homepage-subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.homepage-search {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add space between the search bar and card container */
}

.scryfall-logo {
  height: 40px;
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
}

.card-container {
  /* center the cards */
  

  display: flex;
  justify-content: center;
  position: relative;
  height: 300px; /* Adjust height as needed */
  overflow: hidden; /* Prevent cards from overflowing the container */
}

.card-image {
  width: 100px; /* Set a fixed width for images */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  transition: transform 0.3s, left 0.3s;
}

.stagger-up {
  top: 0;
  z-index: 2;
}

.stagger-down {
  bottom: 0;
  z-index: 1;
}

/* Stagger cards side-to-side */
.card-image:nth-child(even) {
  transform: translateY(-20px); /* Adjust the stagger distance */
  left: 20px; /* Adjust horizontal stagger */
}

.card-image:nth-child(odd) {
  transform: translateY(20px); /* Adjust the stagger distance */
  left: -20px; /* Adjust horizontal stagger */
}
