/* App.css */

.App {
  text-align: center;
}

.App-content {
  padding: 20px;
}

.homepage-title {
  font-size: 2em;
}

.homepage-subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.homepage-search {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.scryfall-logo {
  height: 40px;
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
}

.card-image-container {
  display: flex;
  position: relative;
  height: 34vh; /* Adjust height as needed */
  overflow: hidden; /* Prevent cards from overflowing the container */
}


.card-image {
  width: 20vh; /* Start with 20% width */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  opacity: 1; /* Start as invisible */
  transform: translateX(var(--x-translate)) translateY(var(--y-translate)); /* Set initial transform state */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transform and opacity effect */

}

/* Hover effect */
.card-image:hover {
  transform: translateX(var(--x-translate)) translateY(calc(var(--y-translate) - 10px)); /* Translate up by 10px on hover */
  opacity: 1; /* Ensure full opacity on hover */
  z-index: 1; /* Ensure the hovered image is on top */
}

.card-image-wrapper {
  width: 20vh; /* Start with 20% width */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  opacity: 0; /* Start as invisible */
  transform: translateX(var(--x-translate)) translateY(var(--y-translate)); /* Set initial transform state */
}

/* Keyframes for fade-in and upward movement */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(var(--x-translate)) translateY(calc(var(--y-translate) + 20%)); /* Start below */
  }
  100% {
    opacity: 1;
    transform: translateX(var(--x-translate)) translateY(var(--y-translate)); /* End at the designated position */
  }
}

.card-image-wrapper.animate {
  animation: fadeInUp 1s forwards; /* Apply animation */
}

/* Position and animation delay for each card */
.card-image-wrapper:nth-child(1) {
  left: 50%;
  --x-translate: -50%;
  --y-translate: 20%;
  animation-delay: 0s; /* No delay for the first image */
  z-index: 1; /* Ensure the first image is on top */
}

.card-image-wrapper:nth-child(2) {
  left: calc(50% - 12.5vh);
  --x-translate: -50%;
  --y-translate: 5%;
  animation-delay: 0.2s; /* 0.2s delay for the second image */
}

.card-image-wrapper:nth-child(3) {
  left: calc(50% + 12.5vh);
  --x-translate: -50%;
  --y-translate: 5%;
  animation-delay: 0.4s; /* 0.4s delay for the third image */
}

.card-image-wrapper:nth-child(4) {
  left: calc(50% - 25vh);
  --x-translate: -50%;
  --y-translate: 20%;
  animation-delay: 0.6s; /* 0.6s delay for the fourth image */
}

.card-image-wrapper:nth-child(5) {
  left: calc(50% + 25vh);
  --x-translate: -50%;
  --y-translate: 20%;
  animation-delay: 0.8s; /* 0.8s delay for the fifth image */
}
